.about-us-banner-sec{
    background-image: url('../images/about-us-banner-img.jpg');
    background-size: cover;
    color: $color-white;
    .banner-link-sec{
        background: linear-gradient(135deg, rgba(255,255,255,0) 20%, rgba(25, 103, 136, 0.527) 20%);
        padding: 5% $p-0;
        h6{
            a{
                text-decoration: none;
                color: $color-white;
            }
        }
    }
}
.about-us-experiance-sec{
    font-family: $font-poppins;
    .experiance-section{
        h5{
            color: $color-danger;
        }
        h3{
            color: $color-peacockblue;
        }
    }
}
.about-us-laser-treatment{
    background-image: url('../images/laser-treatment-bg-img.png');
    background-size: cover;
    padding: 5% $p-0;
    font-family: $font-poppins;
    color: $color-white;
    .for-laser-treatment{
        h2{
            margin: $m-25 $m-0;
        }
    }
}
.about-our-team-sec{
    font-family: $font-poppins;
    .related-our-team{
        margin-top: -14%;
        background-color: $bg-white;
        border-radius: $border-10;
        padding: $p-40;
        h3{
            color: $color-peacockblue;
            text-align: center;
            font-weight: $fw-600;
        }
    }
}
.our-tab-section{
    font-family: $font-poppins;
    .tab-container{
        ul{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            background-color: $bg-Cerulean;
            margin: $m-20 $m-0;
            .nav-link{
                color: $color-white;
            }
            .active{
                border-bottom: $border-3 solid $border-danger;
            } 
        }
        .our-content-section{
            h3{
                color: $color-peacockblue;
            }
        }
    }
}
.your-feedback-sec{
    font-family: $font-poppins;
    padding: $p-20 $p-30;
    border: $border-1 solid $border-primary;
    border-radius: $border-5;
    background: linear-gradient(90deg, $color-primary 40%, $color-white 40%);
    .get-smile-sec{
        background-color: $bg-white;
        @include flex-column-center;
        border: $border-1 solid $border-Lightblue;
        .dot-circle-sec{
            height: 30px;
            width: 30px;
            border-radius: 50%;
            background-color: $bg-Pacificblue;
            margin: 5% $m-0;
        }
        h5{
            color: $color-primary;
        }
    }
    .about-feedback-sec{
        padding: $p-10;
        @include flex-column-center;
        h4{
            color: $color-peacockblue ;
        }
        button{
            background-color: $bg-primary;
        }
    }
}
@media only screen and (max-width: 768px) {
    .your-feedback-sec{
        background: none;
    }
}