// Blogs banner styles start here
.blogs-banner{
    background: url(/assets/images/contact-banner.png);
    background-repeat: no-repeat;
    background-size:cover;
    color:$color-white;
    a{
        text-decoration: none;
        color:$color-white;
    }
.container-fluid{
     background: rgba(25, 103, 136, 0.85);
}
}
// Blogs banner styles end here
// Blogs section styles start here
.categories-block-inside {
    display: none;
}
.categories-block-inside_active {
    display: block;
}
.categories-section{
    z-index: 1;
    position: sticky;
    top: 100px;
}
.categories {
    border:$border-1 solid $border-primary;
    border-radius: 10px;
    padding:$p-15;
    h6{
        text-align: center;
        font-weight:$fw-500;
        color:$color-primary;
        font-size: $fs-20;
        margin-bottom:$m-15;
    }
    button{
        background-color: $bg-primary;
        color:$color-white;
        width:100%;
        outline:none;
        border:none;
        padding:$p-5;
        margin:$m-5 $m-0;
    }
    .categories_button_active{
        border:$border-1 solid $border-primary;
        color:$color-primary;
        background-color: $bg-white;
        font-weight: $fw-700;
    }
}
.top-posts{
    border:$border-1 solid $border-primary;
    border-radius: 10px;
    padding:$p-15;
    h6{
        margin-bottom:$m-15;
        font-size: $fs-20;
        text-align: center;
        font-weight:$fw-500;
        color:$color-primary;
    }
    p{
        margin:0;
    }
    li{
        margin-bottom: $m-15;
    }
    span{
        color:$color-primary;
    }
    li p:first-child{
        color:$color-primary;
        font-weight: $fw-700;
        }
}
.blogs-card{
    border:$border-1 solid rgba(169, 169, 169, 1);
    padding:$p-3;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
h4{
    color:$color-primary;
}
}
.blogs-card-content{
    .calender-like{
        display: flex;
        align-items: center;
        justify-content: center;
        p{
            margin:0;
        }
    }
    .learn-btn{
        background-color: $bg-primary;
    text-decoration: none;
    color:$color-white;
    padding:$p-5 $p-15;
    border-radius: 10px;
    }
}

// Blogs section styles end here