$color-primary: #196788;
$color-secondary: #29ABE2;
$color-peacockblue: #124D68;
$color-cerulean: #1F80AA;
$color-pacificblue: #259ACB;
$color-lightblue: #BDE5F6;
$color-white: #fff;
$color-black: #0000;
$color-danger: #FF0000;
$color-shadelightblue: #EAF7FC;
$color-gold: #ebeb5b;
$color-alizarinCrimson: #E51938;
$color-aliceblue: #EAF7FC;

$bg-primary: #196788;
$bg-secondary: #29ABE2;
$bg-Peacockblue: #124D68;
$bg-Cerulean: #1F80AA;
$bg-Pacificblue: #259ACB;
$bg-Lightblue: #BDE5F6;
$bg-white: #fff;
$bg-black: #0000;
$bg-danger: #FF0000;
$bg-alizarinCrimson: #E51938;
$bg-aliceblue: #EAF7FC;


$border-primary: #196788;
$border-secondary: #29ABE2;
$border-Peacockblue: #124D68;
$border-Cerulean: #1F80AA;
$border-Pacificblue: #259ACB;
$border-Lightblue: #BDE5F6;
$border-white: #fff;
$border-black: #0000;
$border-danger: #FF0000;
$border-alizarinCrimson: #E51938;


$fs-12: 12px;
$fs-14: 14px;
$fs-15: 15px;
$fs-16: 16px;
$fs-18: 18px;
$fs-20: 20px;
$fs-21: 21px;
$fs-22: 22px;
$fs-24: 24px;
$fs-26: 26px;
$fs-28: 28px;
$fs-30: 30px;
$fs-32: 32px;
$fs-34: 34px;
$fs-36: 36px;
$fs-38: 38px;
$fs-40: 40px;
$fs-48: 48px;
$fs-50: 50px;
$fs-100: 100px;

$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
$fw-bold: bold;

$m-0: 0px;
$m-2: 2px;
$m-3: 3px;
$m-4: 4px;
$m-5: 5px;
$m-8: 8px;
$m-10: 10px;
$m-8: 8px;
$m-15: 15px;
$m-20: 20px;
$m-25: 25px;
$m-30: 30px;
$m-35: 35px;
$m-40: 40px;
$m-50: 50px;

$p-0: 0px;
$p-3: 3px;
$p-4: 4px;
$p-5: 5px;
$p-8: 8px;
$p-10: 10px;
$p-14: 14px;
$p-15: 15px;
$p-20: 20px;
$p-22: 22px;
$p-25: 25px;
$p-30: 30px;
$p-35: 35px;
$p-40: 40px;
$p-50: 50px;

$border-0: 0px;
$border-1: 1px;
$border-2: 2px;
$border-3: 3px;
$border-5: 5px;
$border-10: 10px;
$border-15: 15px;
$border-20: 20px;

$w-100: 100%;
$h-100: 100%;

$font-poppins: 'Poppins', sans-serif;

@font-face {
    font-family: 'Poppins';
    src: url("../font/Poppins-Regular.ttf");
}