@font-face {
  font-family: "Poppins";
  src: url("../font/Poppins-Regular.ttf");
}
* {
  font-family: "Poppins", sans-serif;
}

.top-nav {
  background-color: #1F80AA;
  color: #fff;
}
.top-nav .top-nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}
.top-nav .top-nav-item i {
  padding-right: 15px;
}
.top-nav .appointment-btn {
  border: none;
  outline: none;
  border-radius: 5px;
  color: #1F80AA;
  padding: 10px 15px;
  background-color: #fff;
}

.navbar-brand img {
  max-width: 205px;
  max-height: 60px;
}

.nav-link {
  font-weight: 600;
}

@keyframes dropdownAnimation {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
}

.dropdown:hover .dropdown-menu {
  display: block;
  animation: dropdownAnimation 0.5s ease-in-out;
}

.give-call-card {
  border-radius: 15px;
  background-color: #196788;
  color: #fff;
  padding: 35px;
}
.give-call-card i {
  margin: 0px 10px;
}
.give-call-card .call-btn {
  background-color: transparent;
  color: #fff;
  outline: none;
  border: 1px solid #fff;
  padding: 15px 40px;
}
.give-call-card .phone p {
  font-weight: 700;
  font-size: 20px;
}

.service-call {
  border: 1px solid #124D68;
  border-radius: 10px;
  padding: 30px;
  background-color: rgb(234, 247, 252);
}
.service-call .service-call-item {
  padding: 20px;
  text-align: center;
}
.service-call .service-call-item h6 {
  font-size: 20px;
  margin: 10px 0px;
}
.service-call .service-call-item-last {
  border-right: none;
}

.experience-content h3 {
  color: #124D68;
}

.experience-points p {
  margin: 0px 10px;
  color: #196788;
}

.experience-years {
  color: #FF0000;
  font-weight: 600;
  margin: 5px;
}

.book-btn {
  background-color: #196788;
  color: #fff;
  border-radius: 5px;
  padding: 5px 25px;
  border: none;
  outline: none;
}

.read-more-btn {
  border: 1px solid #196788;
  color: #196788;
  background-color: #fff;
  border-radius: 5px;
  padding: 5px 25px;
  outline: none;
}

.points-block {
  margin: 5px 0px;
}

.service-block-inside {
  display: none;
}

.service-block-inside_active {
  display: block;
}

.services-section {
  background: url("/assets/images/interior-hospital 1.png");
}
.services-section .services-bg {
  background-color: rgba(18, 77, 102, 0.8);
}
.services-section h3 {
  color: #fff;
  text-align: center;
}
.services-section .service-list {
  padding: 40px;
}
.services-section .service-list button {
  outline: none;
  color: #fff;
  background-color: #196788;
  border: 2px solid #fff;
  margin: 10px 0px;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
}
.services-section .service-list .service_button_active {
  background-color: #fff;
  color: #196788;
  font-weight: 600;
}
.services-section .service-card {
  min-height: 550px;
  background-color: #fff;
  border-radius: 10px;
  border: 5px solid #fff;
}
.services-section .service-card h4 {
  color: #259ACB;
}
.services-section .service-card a {
  color: #259ACB;
}

.patient-stories h4 {
  color: #FF0000;
  text-align: center;
  margin-bottom: 20px;
}
.patient-stories img {
  border-radius: 10px;
}
.patient-stories p {
  text-align: center;
}
.patient-stories p img {
  height: 70px;
  width: 70px;
  margin-left: -10px;
}
.patient-stories .patient-card {
  position: relative;
}
.patient-stories .patient-card .play-icon {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.patient-stories .patient-card .patient-content {
  position: absolute;
  text-align: center;
  color: #fff;
  top: 30%;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 10px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
}
.patient-stories .patient-card .patient-content p {
  margin-bottom: auto;
}
.patient-stories .patient-card .patient-content span {
  font-size: 12px;
}

.why-choose-sec h3 {
  font-size: 32px;
  font-weight: 500;
  color: #E51938;
  font-family: "Poppins", sans-serif;
  text-align: center;
}
.why-choose-sec .bg-color {
  background-color: #196788;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.why-choose-sec .bg-color .down-triangle {
  background-image: url("../images/traingle-img.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 600px;
  height: 400px;
  margin-top: -200px;
}
.why-choose-sec .bg-color .down-triangle .slider {
  overflow: hidden;
  width: 90%;
  height: 400px;
  margin: auto;
}
.why-choose-sec .bg-color .down-triangle .slider .slides {
  display: flex;
  animation: slide 14s infinite linear;
}
.why-choose-sec .bg-color .down-triangle .slider .slides .slide {
  flex: 0 0 auto;
  width: 100%;
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  33.33% {
    transform: translateX(-100%);
  }
  66.67% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(-300%);
  }
}

.center-excellence-sec {
  background-color: #196788;
}
.center-excellence-sec h3 {
  font-size: 32px;
  color: #fff;
  font-weight: 600;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.center-excellence-sec .card {
  width: 350px;
}
.center-excellence-sec .card img {
  border-radius: 5px;
  height: 300px;
}
.center-excellence-sec .card h5 {
  font-size: 20px;
  color: #196788;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
.center-excellence-sec .card p {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}
.center-excellence-sec .card a {
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.center-excellence-sec .card1 {
  width: 350px;
  background-color: #fff;
  margin-left: -50px;
  border-radius: 5px;
}
.center-excellence-sec .card1 img {
  border-radius: 5px;
  height: 300px;
}
.center-excellence-sec .card1 h5 {
  font-size: 20px;
  color: #196788;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
.center-excellence-sec .card1 p {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}
.center-excellence-sec .card1 a {
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.center-excellence-sec .m-card1 {
  background-color: #fff;
  border-radius: 5px;
}
.center-excellence-sec .m-card1 h5 {
  font-size: 22px;
  color: #196788;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
.center-excellence-sec .m-card1 p {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}
.center-excellence-sec .m-card2 {
  background-color: #fff;
  border-radius: 5px;
}
.center-excellence-sec .m-card2 h5 {
  font-size: 22px;
  color: #196788;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
.center-excellence-sec .m-card2 p {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

.team-sec h3 {
  font-size: 32px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: #196788;
}
.team-sec h5 {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  color: #196788;
}
.team-sec p {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #29ABE2;
}

.our-blogs-home {
  background-image: url("../images/our-blogs-bg.png");
  background-size: 100% 100%;
}
.our-blogs-home .back-color {
  background-color: rgba(25, 103, 136, 0.8);
}
.our-blogs-home .back-color h4 {
  font-size: 32px;
  text-align: center;
  color: #fff;
  font-family: "Poppins", sans-serif;
}
.our-blogs-home .back-color h6 {
  font-size: 20px;
  text-align: center;
  color: #fff;
  font-family: "Poppins", sans-serif;
}
.our-blogs-home .back-color .blog-card-bg {
  background-color: #fff;
  border-radius: 10px !important;
  font-family: "Poppins", sans-serif;
}
.our-blogs-home .back-color .blog-card-bg .content h5 {
  font-size: 18px;
  font-weight: 600;
}
.our-blogs-home .back-color .blog-card-bg .content p {
  font-size: 14px;
  margin: 0px 0px 5px 0px;
}
.our-blogs-home .back-color .blog-card-bg .content a {
  text-decoration: none;
}
.our-blogs-home .back-color .last-button {
  text-align: center;
}
.our-blogs-home .back-color .last-button button {
  border: 2px solid #fff;
  padding: 5px 40px 5px 40px;
  background-color: #196788;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}
.our-blogs-home .back-color .event .button-head {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0px 30px 0px;
}
.our-blogs-home .back-color .event .button-head .event-button {
  border: 2px solid #196788;
  border-radius: 10px;
  padding: 5px 20px 5px 20px;
  font-family: "Poppins", sans-serif;
}
.our-blogs-home .back-color .event .button-head .button_active {
  background-color: #196788;
  color: #fff;
  border: 1px solid #fff;
}
.our-blogs-home .back-color .event .content_inside {
  display: none;
}
.our-blogs-home .back-color .event .content_inside_active {
  display: block;
}
.our-blogs-home .back-color .event .event-card {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
}
.our-blogs-home .back-color .event .event-card h5 {
  font-size: 30px;
  font-weight: 600;
  color: #E51938;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.our-blogs-home .back-color .event .event-card p {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}
.our-blogs-home .back-color .event .event-card a {
  text-decoration: none;
}

.footer-sec {
  background-color: #196788;
}
.footer-sec h4 {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  margin-bottom: 20px;
}
.footer-sec p {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: 16px;
}
.footer-sec ul {
  margin: 0px 0px 40px 0px;
  padding: 0px 0px 0px 0px;
}
.footer-sec ul li {
  list-style: none;
  margin: 0px 0px 8px 0px;
}
.footer-sec ul li a {
  text-decoration: none;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
}
.footer-sec .google-play-but {
  border: 1px solid #fff;
  background-color: #196788;
  padding: 10px 20px 10px 20px;
  font-family: "Poppins", sans-serif;
  color: #fff;
  border-radius: 5px;
  box-shadow: rgba(250, 250, 250, 0.3) 0px 10px 50px;
  margin-bottom: 25px;
}
.footer-sec .emergency-but {
  border: 1px solid #fff;
  background-color: #FF2800;
  padding: 10px 20px 10px 20px;
  font-family: "Poppins", sans-serif;
  color: #fff;
  border-radius: 5px;
  box-shadow: rgba(250, 250, 250, 0.3) 0px 10px 50px;
  margin-bottom: 25px;
}
.footer-sec .icons {
  text-align: center;
}
.footer-sec .icons i {
  color: #fff;
  font-size: 20px;
  padding: 0px 0px 0px 8px;
}
.footer-sec .bord {
  border: 1px solid #fff;
}
.footer-sec .privacy-text {
  text-align: center;
}
.footer-sec .privacy-text span {
  border-left: 2px solid white;
  padding: 5px;
}

@media only screen and (max-width: 768px) {
  .service-call-item {
    border-right: none;
  }
  .dropdown-item {
    text-wrap: wrap;
  }
}
@media only screen and (min-width: 769px) {
  .service-call-item {
    border-right: 1px solid #196788;
  }
}
@media only screen and (max-width: 768px) {
  .center-excellence-sec .card1 {
    margin-left: -15px;
  }
  .center-excellence-sec .card {
    margin-left: 0px;
    width: 100%;
  }
}
@media only screen and (min-width: 990px) and (max-width: 1400px) {
  .center-excellence-sec .card {
    width: 100%;
  }
  .center-excellence-sec .card1 {
    margin-left: 0px;
    width: 100%;
  }
}
@media only screen and (min-width: 390px) and (max-width: 400px) {
  .center-excellence-sec .card {
    width: 350px;
    margin-left: 0px;
  }
  .center-excellence-sec .card1 {
    width: 350px;
    margin-left: 0px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 390px) {
  .center-excellence-sec .card {
    width: 100%;
    margin-left: 0px;
  }
  .center-excellence-sec .card1 {
    width: 100%;
    margin-left: 0px;
  }
  .our-blogs-home .event .button-head .event-button {
    font-size: 12px;
  }
}
@media only screen and (max-width: 990px) {
  .our-blogs-home .back-color .event .button-head {
    margin-top: 0px;
  }
  .our-blogs-home .back-color .event .button-head .event-button {
    width: 100%;
  }
}
.service-details-banner-sec {
  background-image: url("../images/service-page-banner-img.jpg");
  background-size: cover;
  color: #fff;
}
.service-details-banner-sec .banner-link-sec {
  background-color: rgba(25, 103, 136, 0.527);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.service-details-banner-sec .banner-link-sec h6 a {
  text-decoration: none;
  color: #fff;
}
.service-details-banner-sec .banner-link-sec h1 {
  text-align: center;
}

.about-service-details-container {
  font-family: "Poppins", sans-serif;
}
.about-service-details-container .details-about-surgery h5 {
  color: #259ACB;
}
.about-service-details-container .details-about-surgery h3 {
  color: #196788;
}

.our-services-details-container {
  background-image: url("../images/our-service-bg-img.jpg");
  background-size: cover;
  padding: 4% 1%;
  font-family: "Poppins", sans-serif;
}
.our-services-details-container .about-specialties-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.our-services-details-container .about-specialties-head .key-specialties {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}
.our-services-details-container .about-specialties-head .key-specialties h3 {
  color: #124D68;
  font-weight: 600;
}
.our-services-details-container .related-treatment-sec {
  margin-top: 20px;
}
.our-services-details-container .related-treatment-sec .treatment-head {
  background-color: #fff;
  padding: 10px;
}
.our-services-details-container .related-treatment-sec .treatment-head h6 {
  color: #124D68;
}
.our-services-details-container .related-treatment-sec .treatment-head h5 {
  color: #29ABE2;
}

.featured-specialists-container {
  font-family: "Poppins", sans-serif;
}
.featured-specialists-container h3 {
  text-align: center;
  margin-bottom: 25px;
  color: #124D68;
}
.featured-specialists-container .about-specialists-doctor {
  border: 1px solid #BDE5F6;
  border-radius: 10px;
  padding: 5px;
  margin: 10px 0px;
}
.featured-specialists-container .about-specialists-doctor .dr-img-sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.featured-specialists-container .about-specialists-doctor h5 {
  color: #196788;
  font-weight: 600;
}
.featured-specialists-container .about-specialists-doctor .doctor-specalities {
  margin: 5px 0px;
}
.featured-specialists-container .about-specialists-doctor .doctor-experiance {
  color: #259ACB;
  margin: 5px 0px;
}
.featured-specialists-container .about-specialists-doctor .hospital-admin {
  color: #124D68;
}
.featured-specialists-container .specialists-read-more-btn {
  text-align: center;
  margin-top: 20px;
}
.featured-specialists-container .specialists-read-more-btn button {
  background-color: #124D68;
  border: none;
}

.expert-article-container {
  font-family: "Poppins", sans-serif;
}
.expert-article-container .article-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.expert-article-container .article-head h3 {
  color: #196788;
}
.expert-article-container .about-article-section {
  display: flex;
  flex-direction: row;
  border: 1px solid #BDE5F6;
  border-radius: 5px;
  padding: 10px;
}
.expert-article-container .about-article-section div {
  margin-left: 8px;
}
.expert-article-container .about-article-section div h5 {
  color: #124D68;
}
.expert-article-container .about-article-section div p {
  color: #29ABE2;
  margin: 0px;
}

.service-details-testimonial-sec {
  font-family: "Poppins", sans-serif;
}
.service-details-testimonial-sec .testimonial-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.service-details-testimonial-sec .testimonial-head h3 {
  color: #124D68;
  word-wrap: break-word;
}
.service-details-testimonial-sec .patient-review {
  height: 180px;
  background-color: #EAF7FC;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  overflow-y: scroll;
  border: 10px solid #EAF7FC;
}
.service-details-testimonial-sec .patient-review::-webkit-scrollbar {
  display: none;
}
.service-details-testimonial-sec .patient-review h6 {
  font-size: 14px;
  margin: 5px 2px;
}
.service-details-testimonial-sec .patient-review .testimonial-rating-sec {
  margin: 4px 0px;
}
.service-details-testimonial-sec .patient-review .testimonial-rating-sec i {
  color: #ebeb5b;
}

.service-banner-sec {
  background-image: url("../images/service-page-banner-img.jpg");
  background-size: cover;
  color: #fff;
}
.service-banner-sec .banner-link-sec {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0) 20%, rgba(25, 103, 136, 0.527) 20%);
  padding: 5% 0px;
}
.service-banner-sec .banner-link-sec h6 a {
  text-decoration: none;
  color: #fff;
}

.our-services-container {
  background-image: url("../images/our-service-bg-img.jpg");
  background-size: cover;
  padding: 4% 1%;
  font-family: "Poppins", sans-serif;
}
.our-services-container .our-service-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}
.our-services-container .our-service-head h3 {
  font-weight: 600;
}
.our-services-container .know-more-treatment-sec {
  height: 100%;
  margin-top: 20px;
}
.our-services-container .know-more-treatment-sec .treatment-head {
  background-color: #fff;
  padding: 10px;
}
.our-services-container .know-more-treatment-sec .treatment-head h6 {
  color: #29ABE2;
}
.our-services-container .know-more-treatment-sec .treatment-head h5 {
  font-weight: 600;
}
.our-services-container .know-more-treatment-sec .treatment-head a {
  color: #29ABE2;
}
.our-services-container .know-more-treatment-sec .treatment-head a span {
  margin: 0px 8px;
}

.featured-specialists-container {
  font-family: "Poppins", sans-serif;
}
.featured-specialists-container h3 {
  text-align: center;
  margin-bottom: 25px;
  color: #124D68;
}
.featured-specialists-container .about-specialists-doctor {
  border: 1px solid #BDE5F6;
  border-radius: 10px;
  padding: 5px;
  margin: 10px 0px;
}
.featured-specialists-container .about-specialists-doctor .dr-img-sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.featured-specialists-container .about-specialists-doctor h5 {
  color: #196788;
  font-weight: 600;
}
.featured-specialists-container .about-specialists-doctor .doctor-specalities {
  margin: 5px 0px;
}
.featured-specialists-container .about-specialists-doctor .doctor-experiance {
  color: #259ACB;
  margin: 5px 0px;
}
.featured-specialists-container .about-specialists-doctor .hospital-admin {
  color: #124D68;
}
.featured-specialists-container .specialists-read-more-btn {
  text-align: center;
  margin-top: 20px;
}
.featured-specialists-container .specialists-read-more-btn button {
  background-color: #124D68;
  border: none;
}

.latest-update-container {
  background-image: url("../images/our-service-bg-img.jpg");
  background-size: cover;
  padding: 4% 1%;
  font-family: "Poppins", sans-serif;
}
.latest-update-container h3 {
  color: #fff;
  text-align: center;
  margin-bottom: 50px;
}
.latest-update-container .updated-sec {
  padding: 10px;
}
.latest-update-container .updated-sec p {
  color: #29ABE2;
}
.latest-update-container .updated-sec h6 {
  background-color: #124D68;
  width: -moz-max-content;
  width: max-content;
  padding: 4px 10px;
  border-radius: 5px;
  color: #fff;
}
.latest-update-container .updated-sec .tips-head {
  color: #124D68;
}

.patient-testimonial-container {
  font-family: "Poppins", sans-serif;
}
.patient-testimonial-container .testimonial-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.patient-testimonial-container .testimonial-head h3 {
  color: #124D68;
}
.patient-testimonial-container .patient-review {
  background-color: #BDE5F6;
  padding: 10px;
  border-radius: 5px;
}
.patient-testimonial-container .patient-review h6 {
  font-size: 14px;
  margin: 5px 2px;
}
.patient-testimonial-container .patient-review .testimonial-rating-sec {
  margin: 4px 0px;
}
.patient-testimonial-container .patient-review .testimonial-rating-sec i {
  color: #ebeb5b;
}
.patient-testimonial-container .patient-review p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
  overflow: hidden;
}
.patient-testimonial-container .view-more-btn {
  text-align: center;
  margin: 20px 0px;
}
.patient-testimonial-container .view-more-btn button {
  background-color: #124D68;
  border: none;
}

.about-us-banner-sec {
  background-image: url("../images/about-us-banner-img.jpg");
  background-size: cover;
  color: #fff;
}
.about-us-banner-sec .banner-link-sec {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0) 20%, rgba(25, 103, 136, 0.527) 20%);
  padding: 5% 0px;
}
.about-us-banner-sec .banner-link-sec h6 a {
  text-decoration: none;
  color: #fff;
}

.about-us-experiance-sec {
  font-family: "Poppins", sans-serif;
}
.about-us-experiance-sec .experiance-section h5 {
  color: #FF0000;
}
.about-us-experiance-sec .experiance-section h3 {
  color: #124D68;
}

.about-us-laser-treatment {
  background-image: url("../images/laser-treatment-bg-img.png");
  background-size: cover;
  padding: 5% 0px;
  font-family: "Poppins", sans-serif;
  color: #fff;
}
.about-us-laser-treatment .for-laser-treatment h2 {
  margin: 25px 0px;
}

.about-our-team-sec {
  font-family: "Poppins", sans-serif;
}
.about-our-team-sec .related-our-team {
  margin-top: -14%;
  background-color: #fff;
  border-radius: 10px;
  padding: 40px;
}
.about-our-team-sec .related-our-team h3 {
  color: #124D68;
  text-align: center;
  font-weight: 600;
}

.our-tab-section {
  font-family: "Poppins", sans-serif;
}
.our-tab-section .tab-container ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #1F80AA;
  margin: 20px 0px;
}
.our-tab-section .tab-container ul .nav-link {
  color: #fff;
}
.our-tab-section .tab-container ul .active {
  border-bottom: 3px solid #FF0000;
}
.our-tab-section .tab-container .our-content-section h3 {
  color: #124D68;
}

.your-feedback-sec {
  font-family: "Poppins", sans-serif;
  padding: 20px 30px;
  border: 1px solid #196788;
  border-radius: 5px;
  background: linear-gradient(90deg, #196788 40%, #fff 40%);
}
.your-feedback-sec .get-smile-sec {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #BDE5F6;
}
.your-feedback-sec .get-smile-sec .dot-circle-sec {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #259ACB;
  margin: 5% 0px;
}
.your-feedback-sec .get-smile-sec h5 {
  color: #196788;
}
.your-feedback-sec .about-feedback-sec {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.your-feedback-sec .about-feedback-sec h4 {
  color: #124D68;
}
.your-feedback-sec .about-feedback-sec button {
  background-color: #196788;
}

@media only screen and (max-width: 768px) {
  .your-feedback-sec {
    background: none;
  }
}
.contact-banner {
  background: url(/assets/images/contact-banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
.contact-banner a {
  text-decoration: none;
  color: #fff;
}
.contact-banner .container-fluid {
  background: rgba(25, 103, 136, 0.85);
}

.contact-left h4 {
  text-align: center;
}
.contact-left img {
  width: 80%;
  margin: 0px auto;
  display: flex;
  justify-content: center;
}

.address-block {
  margin: 30px 0px;
}
.address-block p {
  margin: 0;
}
.address-block .address-img {
  width: 90px;
  height: 90px;
}

.word {
  word-break: break-all;
}

.appointment-section {
  background: url(/assets/images/appointment-banner.png);
}
.appointment-section .appointment {
  background: rgba(18, 77, 102, 0.85);
  color: #fff;
}
.appointment-section .submit-btn {
  background-color: #196788;
  color: #fff;
  border: 1px solid #fff;
  padding: 5px 30px;
}
.appointment-section .book-appointment h5 {
  text-align: center;
  font-weight: 600;
}
.appointment-section .book-appointment p {
  text-align: center;
}
.appointment-section .medical-sector h5 {
  font-weight: 600;
  width: 80%;
  margin: 20px auto;
  text-align: center;
}
.appointment-section .medical-block {
  background-color: #fff;
  border-radius: 5px;
  color: #196788;
  margin: 10px;
  padding: 20px;
}
.appointment-section .medical-block h6 {
  font-size: 18px;
  font-weight: 700;
}

.blogs-banner {
  background: url(/assets/images/contact-banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
.blogs-banner a {
  text-decoration: none;
  color: #fff;
}
.blogs-banner .container-fluid {
  background: rgba(25, 103, 136, 0.85);
}

.categories-block-inside {
  display: none;
}

.categories-block-inside_active {
  display: block;
}

.categories-section {
  z-index: 1;
  position: sticky;
  top: 100px;
}

.categories {
  border: 1px solid #196788;
  border-radius: 10px;
  padding: 15px;
}
.categories h6 {
  text-align: center;
  font-weight: 500;
  color: #196788;
  font-size: 20px;
  margin-bottom: 15px;
}
.categories button {
  background-color: #196788;
  color: #fff;
  width: 100%;
  outline: none;
  border: none;
  padding: 5px;
  margin: 5px 0px;
}
.categories .categories_button_active {
  border: 1px solid #196788;
  color: #196788;
  background-color: #fff;
  font-weight: 700;
}

.top-posts {
  border: 1px solid #196788;
  border-radius: 10px;
  padding: 15px;
}
.top-posts h6 {
  margin-bottom: 15px;
  font-size: 20px;
  text-align: center;
  font-weight: 500;
  color: #196788;
}
.top-posts p {
  margin: 0;
}
.top-posts li {
  margin-bottom: 15px;
}
.top-posts span {
  color: #196788;
}
.top-posts li p:first-child {
  color: #196788;
  font-weight: 700;
}

.blogs-card {
  border: 1px solid rgb(169, 169, 169);
  padding: 3px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.blogs-card h4 {
  color: #196788;
}

.blogs-card-content .calender-like {
  display: flex;
  align-items: center;
  justify-content: center;
}
.blogs-card-content .calender-like p {
  margin: 0;
}
.blogs-card-content .learn-btn {
  background-color: #196788;
  text-decoration: none;
  color: #fff;
  padding: 5px 15px;
  border-radius: 10px;
}

.biomedical-data h2 {
  color: #196788;
  font-weight: 600;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 15px;
}
.biomedical-data h6 {
  color: #196788;
  font-weight: 500;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}
.biomedical-data select {
  border: 2px solid #196788;
}
.biomedical-data button {
  border: 2px solid #196788;
  color: #196788;
}
.biomedical-data button:hover {
  background-color: #196788;
  color: #fff;
}
.biomedical-data table,
.biomedical-data td,
.biomedical-data th {
  white-space: nowrap;
}
.biomedical-data table,
.biomedical-data th {
  background-color: #196788;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
}
.biomedical-data .table {
  border-collapse: separate;
  border-spacing: 0;
}
.biomedical-data .table td {
  border: none;
}
.biomedical-data .table tr:last-child td {
  border-bottom: 1px solid #196788;
}
.biomedical-data .table tr td:first-child {
  border-left: 1px solid #196788;
}
.biomedical-data .table tr td:last-child {
  border-right: 1px solid #196788;
}

.chairmen-msg-banner {
  background: url(/assets/images/contact-banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;
}
.chairmen-msg-banner a {
  text-decoration: none;
  color: #fff;
}
.chairmen-msg-banner .container-fluid {
  -webkit-clip-path: polygon(45% 0, 100% 0, 100% 100%, 36% 100%);
          clip-path: polygon(45% 0, 100% 0, 100% 100%, 36% 100%);
  background: rgba(25, 103, 136, 0.85);
}

.chairmen-msg img {
  height: -webkit-fill-available;
  margin-bottom: 15px;
}
.chairmen-msg span {
  color: #196788;
  font-weight: 700;
}

@media only screen and (max-width: 769px) {
  .chairmen-msg-banner .container-fluid {
    -webkit-clip-path: none;
            clip-path: none;
  }
}
.director-msg-banner {
  background: url(/assets/images/contact-banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;
}
.director-msg-banner a {
  text-decoration: none;
  color: #fff;
}
.director-msg-banner .container-fluid {
  -webkit-clip-path: polygon(45% 0, 100% 0, 100% 100%, 36% 100%);
          clip-path: polygon(45% 0, 100% 0, 100% 100%, 36% 100%);
  background: rgba(25, 103, 136, 0.85);
}

.director-msg img {
  height: -webkit-fill-available;
  margin-bottom: 15px;
}
.director-msg span {
  color: #196788;
  font-weight: 700;
}

@media only screen and (max-width: 769px) {
  .director-msg-banner .container-fluid {
    -webkit-clip-path: none;
            clip-path: none;
  }
}
.gallery-banner {
  font-family: "Poppins", sans-serif;
  background-color: #196788;
  padding: 4% 0;
  color: #fff;
}
.gallery-banner h3 {
  margin-top: 20px;
}
.gallery-banner a {
  color: #fff;
  text-decoration: none;
}

.maven-gallery-sec .controls {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px 0px;
  list-style: none;
}
.maven-gallery-sec .controls .buttons {
  width: -moz-max-content;
  width: max-content;
  padding: 8px;
  background: #29ABE2;
  border-radius: 3px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin: 8px 15px;
  box-shadow: 0 3px 5px black;
  text-align: center;
}
.maven-gallery-sec .controls .active {
  background: #124D68;
}
.maven-gallery-sec .image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.maven-gallery-sec .image-container .image {
  height: 250px;
  width: 350px;
  overflow: hidden;
  border: 8px solid #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  margin: 20px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-right-color: #196788;
  border-left-color: #196788;
}
.maven-gallery-sec .image-container .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.doctors-banner {
  background: url(/assets/images/contact-banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;
}
.doctors-banner a {
  text-decoration: none;
  color: #fff;
}
.doctors-banner .container-fluid {
  -webkit-clip-path: polygon(45% 0, 100% 0, 100% 100%, 36% 100%);
          clip-path: polygon(45% 0, 100% 0, 100% 100%, 36% 100%);
  background: rgba(25, 103, 136, 0.85);
}

.doctor-block-inside {
  display: none;
}

.doctor-block-inside_active {
  display: block;
}

.doctor-list {
  display: flex;
  list-style-type: none;
  padding: 0px;
  justify-content: center;
}
.doctor-list button {
  border: 1px solid #196788;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: #fff;
}

.doctor-card {
  min-height: 750px;
  background-color: #196788;
  color: #fff;
  padding: 3px;
  position: relative;
}
.doctor-card span {
  color: #259ACB;
  font-weight: 600;
}
.doctor-card img {
  border-radius: 10px;
}
.doctor-card a {
  position: absolute;
  bottom: 25px;
  color: #259ACB;
  text-decoration: none;
  border: 1px solid #196788;
  background-color: #fff;
  color: #196788;
  border-radius: 10px;
  padding: 5px 10px;
}

@media only screen and (max-width: 768px) {
  .doctor-list {
    display: flex;
    flex-direction: column;
  }
  .doctor-list button {
    width: 100%;
    margin: 10px 0px;
  }
  .doctors-banner .container-fluid {
    -webkit-clip-path: none;
            clip-path: none;
  }
}
.gallery-banner {
  font-family: "Poppins", sans-serif;
  background-color: #196788;
  padding: 4% 0;
  color: #fff;
}
.gallery-banner h3 {
  margin-top: 20px;
}
.gallery-banner a {
  color: #fff;
  text-decoration: none;
}

.maven-gallery-sec .controls {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px 0px;
  list-style: none;
}
.maven-gallery-sec .controls .buttons {
  width: -moz-max-content;
  width: max-content;
  padding: 8px;
  background: #29ABE2;
  border-radius: 3px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin: 8px 15px;
  box-shadow: 0 3px 5px black;
  text-align: center;
}
.maven-gallery-sec .controls .active {
  background: #124D68;
}
.maven-gallery-sec .image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.maven-gallery-sec .image-container .image {
  height: 250px;
  width: 350px;
  overflow: hidden;
  border: 8px solid #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  margin: 20px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-right-color: #196788;
  border-left-color: #196788;
}
.maven-gallery-sec .image-container .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.specialist-presentation-sec {
  background-image: url("../images/laser-treatment-bg-img.png");
  background-size: cover;
  padding: 5% 0;
  font-family: "Poppins", sans-serif;
}
.specialist-presentation-sec .presentation-content-sec {
  color: #fff;
  text-align: center;
}
.specialist-presentation-sec .presentation-content-sec a {
  text-decoration: none;
  color: #BDE5F6;
}

@font-face {
  font-family: "Poppins";
  src: url("../font/Poppins-Regular.ttf");
}
.bio-waste th {
  white-space: nowrap;
  text-align: center;
  font-size: 16px;
  background-color: #196788;
  color: #fff;
}
.bio-waste td {
  font-size: 16px;
}

@font-face {
  font-family: "Poppins";
  src: url("../font/Poppins-Regular.ttf");
}
.banner-section .banner-img {
  position: relative;
}
.banner-section .banner-img .banner-content {
  position: absolute;
  top: 50%;
  right: 50%;
  color: #fff;
  font-size: 40px;
}

.before-after-banner {
  background: url(/assets/images/contact-banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
.before-after-banner a {
  text-decoration: none;
  color: #fff;
}
.before-after-banner .container-fluid {
  background: rgba(25, 103, 136, 0.85);
}

.before-after-display h3 {
  color: #196788;
  font-weight: 700;
}

.before-after-block-inside {
  display: none;
}

.before-after-block-inside_active {
  display: block;
}

.before-after-section {
  z-index: 1;
  position: sticky;
  top: 100px;
}

.before-after button {
  background-color: #196788;
  color: #fff;
  width: 100%;
  outline: none;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
}
.before-after .before-after_button_active {
  border: 1px solid #196788;
  color: #196788;
  background-color: #fff;
  font-weight: 700;
}/*# sourceMappingURL=styles.css.map */